# Quickstart guide - using the Coronado API

The low-level web service API is difficult for external parties to use.  The Coronado API is a set of Python, JVM, and Typescript/JavaScript wrappers designed to streamline integration.

## Installation

The Coronado project is Open Source and licensed under Apache 2.0.  The latest stable code is available from the language-specific repositories like **<a href='https://pypi.org/project/coronado' target='_blank'>PyPI</a>**, Maven Central, and <a href='https://www.npmjs.com/package/coronado' target='_blank'>**NPM**</a>.  Use the standard installer for your target dev tool  to install (`pip`, `mvn`, `npm`, etc.):

In [ ]:
# !pip install -U coronado

In [20]:
import pandas as pd  # We'll use this for pretty printing in this document

def prettyPrintListOf(tripleClass, indexName = 'objID', **listArgs):
    panel = pd.DataFrame([ tripleObject.__dict__ for tripleObject in tripleClass.list(**listArgs) ])
    if indexName:
        panel.index = panel[indexName]
        del panel[indexName]
    return panel

---
## Authentication

Authentication is transparent to the Coronado user:

1. Obtain a valid clientID/clientSecret pair from triple
1. Obtain the service's URL from triple; the triple environment
   support multi-tenancy plus sandboxes and production environments with dedicated URLs
1. Initialize the Auth object with this information

The `loadConfig()` utility function can be used for loading the configuration file from a system-dependent standard location.  To view the corresponding location for the system where you're trying the API, run:

### Configuration made simple

In [4]:
from coronado.auth import SECRETS_FILE_PATH
SECRETS_FILE_PATH

'/home/jovyan/.config/coronado/config.json'

The `Auth` instances use specific arguments for configuration; the `config.json` file and associated methods are available for convenience.  Coronado API users are welcome to use any configuration management they wish, in whatever format.  `Auth` constructors use whatever arguments are passed during initialization.  A typical configuration includes:

In [5]:
from coronado.auth import loadConfig
conf4Display = loadConfig()
conf4Display['clientID'] = conf4Display['clientID'][-8:]
conf4Display['secret'] = conf4Display['secret'][-16:]
conf4Display

{'clientID': '0tdste4i',
 'clientName': 'dev-coronado-dev',
 'secret': '8hvjvlfkbm8kp3tu',
 'serviceURL': 'https://api.partners.dev.tripleupdev.com',
 'tokenURL': 'https://auth.partners.dev.tripleupdev.com/oauth2/token'}

### Instantiate the Auth object

`Auth` instances are long-lived, and can be reused across multiple API calls, across one or more Coronado classes or objects, without worrying about expiration time, regardless of what the OAuth2 policy set up (e.g. 3600 seconds).  `Auth` instances are guaranteed to **always** render a valid JWT token because they renew it behind the scenes if they are expired, without further programmer participation.

To instantiate a new `Auth` object pass the pertinent configuration parameters and the appropriate OAuth scope for the operations using the `Auth`.  You may need to instantiate more than one `Auth` object if the subsequent API calls correspond to different scopes.  See https://api.partners.dev.tripleupdev.com/docs#section/Authentication for more information.  The `Scope` object pre-defines all available scopes:

In [6]:
from coronado.auth import Scope

currentScope = Scope.PUBLISHERS
print('Defined scopes:  %s' % [scope for scope in dir(Scope) if '__' not in scope])

Defined scopes:  ['CONTENT_PROVIDERS', 'NA', 'PORTFOLIOS', 'PUBLISHERS', 'VIEW_OFFERS']

Instantiate the `Auth` object and keep it around for calls; notice that no Scope was specified -- when that happens, Auth allows access to all non-critical objects:

In [24]:
from coronado.auth import Auth

config = loadConfig()
auth = Auth(tokenURL = config['tokenURL'],
            clientID = config['clientID'],
            clientSecret = config['secret'])

And validate that the instance has all the appropriate attributes set:

In [6]:
print('token: %s.....426a' % auth.token[:32])
print('token type: %s' % auth.tokenType)

token: eyJraWQiOiJUUTRwU1d0REpnT3drZ3Na.....426a
token type: Bearer

The `auth` object will be ready to use for as long as the process that instantiated is alive.

---
## Using triple objects

triple objects are attribute containers with very little built-in logic.  Their purpose is to make it super-easy to use without having to think about the nitty gritty of URL management, endpoints configuration, and so on.  All objects have the same class attributes and method names, and individual attributes may be accessed using dot-notation (Python, JavaScript, R) or JVM accessor convetions (getters/setters).

### Configuring triple objects to use the correct services provider

1. Initialize the corresponding class to use the right configuration
1. Instantiate an object directly and set its attributes, OR
1. Perform service operations using the corresponding class methods

In [7]:
from copy import deepcopy
from coronado.publisher import Publisher
from coronado.publisher import SERVICE_PATH

Publisher.initialize(config['serviceURL'], SERVICE_PATH, auth)

headers = deepcopy(Publisher.headers)
headers['Authorization'] = '%s...69f2' % headers['Authorization'][:64]
print('service: %s' % Publisher._serviceURL)
print('raw token: %s' % Publisher._auth.token[:32])
print('headers: %s' % headers)

service: https://api.sandbox.tripleup.dev
raw token: eyJraWQiOiJUUTRwU1d0REpnT3drZ3Na
headers: {'Authorization': 'Bearer eyJraWQiOiJUUTRwU1d0REpnT3drZ3NaZU9COXc1UEx5VkxsWkhiN1g2d...69f2', 'User-Agent': 'python-coronado/1.1.10'}

### Creating a new Publisher resource

Each individual resource is associated with a persistent instance of a Publisher.  Use a publisher spec, as defined by the API, to create a new Publisher resource.  The publisher spec requires:

- Publisher assumed name (e.g. Acme, Inc.)
- An external ID
- The revenue share as a percentage (1.25, not 0.0125)
- A physical address

Addresses are normalized in the triple ecosystem (in fact, they are also backed by an RDF specification).  That means that the publisher spec also requires a well-formed `Address` object.

#### Working with Address objects

Easy - create an `Address` instance, populate its attributes, and generate the corresponding address spec, compatible with the triple API.

In [8]:
from coronado.address import Address

address = Address()

print('All address attributes and their types:')
address.listAttributes()

All address attributes and their types:

{'completeAddress': 'str',
 'countryCode': 'str',
 'latitude': 'float',
 'line1': 'str',
 'line2': 'str',
 'locality': 'str',
 'longitude': 'float',
 'postalCode': 'str',
 'province': 'str'}

Initialize an address object (semantics) and display it in various application-specific formats:

In [9]:
address.line1 = '3390 Geary Boulevard'
address.line2 = 'Suite 99'
address.locality = 'San Francisco'
address.province = 'CA'
address.postalCode = '94118'
address.countryCode = 'US'

First, display the addressSpec representation expected by various API objects at creation time:

In [10]:
address.asSnakeCaseDictionary()

{'complete_address': '3390 Geary Boulevard Suite 99\nSan Francisco, CA 94118',
 'country_code': 'US',
 'latitude': 40.440624,
 'line_1': '3390 Geary Boulevard',
 'line_2': 'Suite 99',
 'locality': 'San Francisco',
 'longitude': -79.995888,
 'postal_code': '94118',
 'province': 'CA'}

Now, display it as a complete address compatible with the Publisher spec:

In [11]:
address.complete

'3390 Geary Boulevard Suite 99\nSan Francisco, CA 94118'

Last, display its string representation and compare it against other API objects that don't have a string representation:

In [12]:
print('address:\n%s' % address)

address:
3390 Geary Boulevard
Suite 99
San Francisco, CA 94118 US

#### Build the Publisher spec

The low-level service API `pubSpec` is a snake_case JSON object with arbitrary attributes set according to the documentation.  Building such an object is trivial:

In [13]:
import uuid

payload = {
    'address': address.asSnakeCaseDictionary(),
    'assumed_name': 'Acme-%s, Inc.' % uuid.uuid4().hex,   # !!
    'external_id': uuid.uuid4().hex[-12:],   # !!
    'revenue_share': 1.1,

}

**IMPORTANT**

The UUID value mangling of the assumed or externalID value **are not required during normal operation!**  They are present in the Coronado examples and in the unit tests to generate a random value with very low clashing probability because triple **does not support deletion** in any services for the current API version.

**YOU DON NOT NEED TO ADD ANY UUID VALUES TO YOUR ACTUAL OBJECT DEFINITIONS.  They are used only for the examples in this document.**

Resource deletions may lead to data consistency problems for the current implementation.  Therefore, all triple API objects are WORM (write once read many).

#### Creating new objects

Very simple operation:

In [14]:
newPublisher = Publisher.create(payload)

New objects are assigned a unique object ID, which can be used for cross-linking instances of this object with other objects in the triple API.  To verify this object's ID:

In [15]:
ref = newPublisher.objID
print('New publisher ID: %s' % newPublisher.objID)

New publisher ID: 310

The complete list of a Publisher attributes (or for any TripleObject) can be obtained by using the `listAttributes()` instance method.

In [16]:
newPublisher.listAttributes()

{'address': 'coronado.TripleObject',
 'assumedName': 'str',
 'createdAt': 'str',
 'externalID': 'str',
 'objID': 'str',
 'portfolioManagerID': 'str',
 'revenueShare': 'float',
 'updatedAt': 'str'}

### Fetching individual objects

Use the object ID to grab an individual object:

In [17]:
myPublisher = Publisher.byID(ref)
print('%s\n%s' % (myPublisher.assumedName, myPublisher.address.completeAddress))

Acme-ccaabd03c88646e0b146049e3d507544, Inc.
3390 Geary Boulevard Suite 99
San Francisco, CA 94118

### Listing objects

The `list()` class method fetches a list of all objects defined in the system.  `list()` methods generate only partial objects, never the complete object.  They are instances of `TripleObject` and code may access their attributes with dot-notation.

In [18]:
prettyPrintListOf(Publisher)

         externalID                                        assumedName
objID
4              4269                         Weyland-Yutani Corporation
6              6942                              R2D2 Enterprises, LLC
11     d757062e9754  R2D2 Enterprises a05e9763367f4ed9a84787cfee43c85d
12     c56e978f3db8  R2D2 Enterprises 32a6d8e0bd8c4ede80fc8e1ef0e7a226
13     062ecbdf98f6  R2D2 Enterprises 3ccb3885f2c44235b7b3698e457b2178
...             ...                                                ...
305    7e03310b74bb  R2D2 Enterprises a4f95138b91e4c9cb413319cdbda55c7
306    8d272ac4115b  R2D2 Enterprises d81456b9118d49d0ae95850c3397e97d
308    1a2386fd381c        Acme-b33a8d08f28948d19a47a082a5d1a29a, Inc.
309    5bc0f576ad4f        Acme-85fca32f4a9e47aba1a3c01c4aac7ef5, Inc.
310    3033923a561d        Acme-ccaabd03c88646e0b146049e3d507544, Inc.

[236 rows x 2 columns]

### Displaying an individual object

List all the object attributes, so you know which fields are present:

In [19]:
p = Publisher.byID('4')
p.listAttributes()

{'address': 'coronado.TripleObject',
 'assumedName': 'str',
 'createdAt': 'str',
 'externalID': 'str',
 'objID': 'str',
 'portfolioManagerID': 'str',
 'revenueShare': 'float',
 'updatedAt': 'str'}

Now, display the whole object, or pick specific attributes to view:

In [20]:
print(p)

address           :
completeAddress: 2801 TURK BLVD APT 202, SAN FRANCISCO, CA, 94118-4353, US
countryCode    : US
latitude       : 37.777783
line1          : 2801 TURK BLVD APT 202
line2          : None
locality       : SAN FRANCISCO
longitude      : -122.451724
postalCode     : 94118-4353
province       : CA
assumedName       : Weyland-Yutani Corporation
createdAt         : 2022-07-04T04:05:47
externalID        : 4269
objID             : 4
portfolioManagerID: 1
revenueShare      : 1.25
updatedAt         : 2022-07-22T18:23:27

Individual attributes:

In [21]:
print(p.assumedName)
print(p.address.province)

Weyland-Yutani Corporation
CA

### Updating an object

The underlying API implementation allows only for some object attributes to be updated.  In the `Publisher` objects case, only the `assumedName` and `address` attributes are modifiable.  The API is straightforward:

In [22]:
objID = '4'
p = Publisher.byID(objID)
originalName = p.assumedName
updatePayload = { 'assumed_name': 'Cosmify, Inc.', }

q = Publisher.updateWith(objID, updatePayload)
assert p.assumedName != q.assumedName

print('original name: %s' % originalName)
print('new name: %s' % q.assumedName)

updatePayload['assumed_name'] = originalName
q = Publisher.updateWith(objID, updatePayload)
print('original name restored: %s' % Publisher(objID).assumedName)

original name: Weyland-Yutani Corporation
new name: Cosmify, Inc.
original name restored: Weyland-Yutani Corporation

---
## CardProgram

In [23]:
from coronado.cardprog import CardProgram
from coronado.cardprog import SERVICE_PATH

CardProgram.initialize(config['serviceURL'], SERVICE_PATH, auth)

In [24]:
prettyPrintListOf(CardProgram)

,externalID,name
objID,,
2,prog-66,Mojito Rewards 4dfc7fe24a88499e9d705754ac894bde
5,prog-2d360f0434c94f829175facd9815e5d9,Mojito Rewards 7ff479c00117494abd2530013f046a70
7,prog-4e158a7c346648c8a71a32cb654ef12b,Mojito Rewards 24ae3152afd5427d82d9379d4b2a2482
9,prog-d02125b689a949d08341c76945b5e134,Mojito Rewards 95831d4db60d47f584fb2159dafe1c84
12,prog-2c14135e330a4868a49ba6376b827106,Mojito Rewards 76565ff5fa5b485a934ce40c5a16c020
...,...,...
185,prog-f88558f6e54c4381a875dbdbae280dba,Mojito Rewards 3b17a35786714b529e327fd2f7ed71e3
187,prog-f5d179d44e7f45d2bc228ea6673a4f19,Mojito Rewards 23de6ec4a2e7472abdd709c75e4d949c
189,prog-ca7cfd935e30426296c22a1938c88cf5,Mojito Rewards a5af7019c61c4936814446e52ab15bca
191,prog-d8b20da0a7d7434db568f0d55cea0209,Mojito Rewards 91b9b2180b4742d68992df63a9e20d20
193,prog-daa02c8f4d11489ba26aad444c218045,Mojito Rewards f206f24b115c4dc7bc7ac342c0de7efb

In [25]:
p = CardProgram.list()[0]

In [26]:
p.listAttributes()

{'externalID': 'str', 'name': 'str', 'objID': 'str'}

In [27]:
print(p)

externalID: prog-66
name      : Mojito Rewards 4dfc7fe24a88499e9d705754ac894bde
objID     : 2

---
# CardAccount

In [28]:
from coronado.cardaccount import CardAccount, CardAccountStatus
import coronado.cardaccount

CardAccount.initialize(config['serviceURL'], coronado.cardaccount.SERVICE_PATH, auth)

In [29]:
prettyPrintListOf(CardAccount)

                                         externalID    status
objID
2      pnc-card-69-ed3f4e2b0bba4e2bbd32d1c77d201cef  ENROLLED
3      pnc-card-69-3149b4780d6f4c2fa21fb45d2637efbb  ENROLLED
4      pnc-card-69-41b19c97c3484c2cb861c454eeb4e73e  ENROLLED
5      pnc-card-69-380736a1a8f642c69d25c83782ff7715  ENROLLED
6      pnc-card-69-b354caea006e4ab8b819949e1b792490  ENROLLED
...                                             ...       ...
148    pnc-card-69-34e9bd4e7c0f44f9b7b3e8fce9a09538  ENROLLED
150    pnc-card-69-b856b1e7a9794bdeb778421a37ffd451  ENROLLED
152    pnc-card-69-db6cc20decd2497eba4265e7687a48ed  ENROLLED
154    pnc-card-69-4b938771c4ea4c00b86db1d50bdf3b24  ENROLLED
156    pnc-card-69-e2d53f0e5da44f2cb3fe2b0940f2f65f  ENROLLED

[91 rows x 2 columns]

In [30]:
x = CardAccount.list()[3]

In [31]:
x.listAttributes()

{'externalID': 'str', 'objID': 'str', 'status': 'str'}

In [32]:
print(x)

externalID: pnc-card-69-380736a1a8f642c69d25c83782ff7715
objID     : 5
status    : ENROLLED

---
## Merchant category codes (MCCs)

In [33]:
from coronado.merchantcodes import MerchantCategoryCode as MCC

In [34]:
prettyPrintListOf(MCC, indexName = 'code', begin = '0000', end = '3000')

                                            description
code
0742                                Veterinary services
0743                                     Wine producers
0744                                Champagne producers
0763                         Agricultural co-operatives
0780             Landscaping and horticultural services
1520   General contractors — residential and commercial
1711  Heating, plumbing and air-conditioning contrac...
1731                             Electrical contractors
1740  Masonry, stonework, tile setting, plastering a...
1750                              Carpentry contractors
1761   Roofing, siding and sheet metal work contractors
1771                          Concrete work contractors
1799  Special trade contractors — not elsewhere clas...
2741     Miscellaneous publishing and printing services
2791      Typesetting, platemaking and related services
2842  Speciality cleaning, polishing and sanitation ...
3000                                    UNITED AIRLINES

In [35]:
prettyPrintListOf(MCC, indexName = 'code')

                                       description
code
0742                           Veterinary services
0743                                Wine producers
0744                           Champagne producers
0763                    Agricultural co-operatives
0780        Landscaping and horticultural services
...                                            ...
9406  Government-Owned Lotteries (Non-U.S. region)
9700                                         Other
9701                                         Other
9702     Emergency Services (GCAS) (Visa use only)
9950                       Intra-Company Purchases

[898 rows x 1 columns]

In [36]:
p = MCC('3000')

In [37]:
print(p)

code       : 3000
description: UNITED AIRLINES

---
## Rewards

Notice that the Reward operations are scoped!

In [10]:
from coronado.reward import Reward
from coronado.reward import SERVICE_PATH as R_SERVICE_PATH
from coronado.auth import Scope

scopedAuth = Auth(tokenURL = config['tokenURL'],
            clientID = config['clientID'],
            clientSecret = config['secret'],
            scope = Scope.CONTENT_PROVIDERS)

Reward.initialize(config['serviceURL'], R_SERVICE_PATH, scopedAuth)

In [23]:
prettyPrintListOf(Reward, indexName = 'transactionID')

,offerID,offerExternalID,transactionDate,cardBin,cardLast4,transactionAmount,transactionCurrencyCode,rewardAmount,rewardCurrencyCode,offerHeadline,merchantName,merchantCompleteAddress,status
transactionID,,,,,,,,,,,,,
40,6068,152398,2022-06-02,None,None,45.72,USD,2.286,USD,5% back at Doug's Motor City Bar & Grill,Doug's Motor City Bar & Grill,"16103 Chenal Pkwy, Little Rock, AR, 72223, US",PENDING_MERCHANT_APPROVAL
42,5810,148577,2022-06-06,None,None,20.00,USD,1.000,USD,5% back at Patron Mexican Grill Cranberry,Patron Mexican Grill Cranberry,"1724 PA-228, Cranberry Twp, PA, 16066, US",PENDING_MERCHANT_APPROVAL
43,7822,154181,2022-04-30,None,None,4.32,USD,0.216,USD,5% back at Firefly Tapas Kitchen & Bar,Firefly Tapas Kitchen & Bar,"7355 S Buffalo Dr Ste 7, Las Vegas, NV, 89113, US",PENDING_MERCHANT_APPROVAL
81,3054,137490,2022-05-02,None,None,60.29,USD,3.014,USD,5% back at Aspen Creek Grill - Tyler,Aspen Creek Grill - Tyler,"1725 West Southwest Loop 323, Tyler, TX, 75701...",PENDING_MERCHANT_APPROVAL
110,3885,143335,2022-05-03,None,None,27.31,USD,1.365,USD,5% back at Olive Bistro - Vinings,Olive Bistro - Vinings,"3300 Cobb Pkwy SE Ste 126, Atlanta, GA, 30339, US",PENDING_MERCHANT_APPROVAL
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7900,12093,69532,2022-05-19,None,None,15.00,USD,0.750,USD,5% back at Julep's New Southern Cuisine,Julep's New Southern Cuisine,"420 E Grace St, Richmond, VA, 23219, US",PENDING_MERCHANT_APPROVAL
7931,6504,151267,2022-05-18,None,None,28.00,USD,1.400,USD,5% back at Clean Juice - Friendly Center,Clean Juice - Friendly Center,"3334 W Friendly Ave, Greensboro, NC, 27410, US",PENDING_MERCHANT_APPROVAL
7949,2638,129139,2022-05-19,None,None,11.50,USD,0.575,USD,5% back at Tongue in Cheek,Tongue in Cheek,"989 Payne Ave, Saint Paul, MN, 55130, US",PENDING_MERCHANT_APPROVAL
8034,2590,137736,2022-05-19,None,None,4.91,USD,0.246,USD,5% back at Capri Pizzeria and Bar,Capri Pizzeria and Bar,"13250 DALLAS PKWY 122, DALLAS, TX, 75240",PENDING_MERCHANT_APPROVAL
8037,2590,137736,2022-05-19,None,None,4.91,USD,0.246,USD,5% back at Capri Pizzeria and Bar,Capri Pizzeria and Bar,"13250 DALLAS PKWY 122, DALLAS, TX, 75240",PENDING_MERCHANT_APPROVAL